img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "Times New Roman";
}
p {
    font-family: "Times New Roman";
}
#Gandalf {
    text-align: center;
    width: 400px;
}
#black {
    color: black;
}